name: Release
# This workflow is triggered when publishing a GitHub release
on:
  release:
    types:
      - published

jobs:
  run_release:
    permissions:
      contents: write
      id-token: write
    uses: SonarSource/gh-action_release/.github/workflows/main.yaml@v5
    with:
      publishToBinaries: true
      mavenCentralSync: true
      slackChannel: squad-analysis-experience
